<div class="register-view-container">
    <!--<div class="register-card-container" dir="rtl">-->
    <div class="register-card-container">
        <md-toolbar color="primary">Register</md-toolbar>
        <md-card class="demo-card demo-basic">
            <md-card-content>
                <form [formGroup]="registerForm">
                    <input mdInput placeholder="ID" formControlName="id"/>
                    <div class="errorMessage">
                        <span [hidden]="registerForm.controls['id'].valid || registerForm.controls['id'].pristine" >שדה זה הינו חובה על מנת להירשם</span>
                    </div>
                    <input mdInput placeholder="Given Name" formControlName="firstName"/>
                    <div class="errorMessage">
                        <span [hidden]="registerForm.controls['firstName'].valid || registerForm.controls['firstName'].pristine" >שדה זה הינו חובה על מנת להירשם</span>
                    </div>
                    <!--<input mdInput placeholder="Middle Name" formControlName="middleName"></md-input>-->
                    <input mdInput placeholder="Surname" formControlName="lastName"/>
                    <div class="errorMessage">
                        <span [hidden]="registerForm.controls['lastName'].valid || registerForm.controls['lastName'].pristine" >שדה זה הינו חובה על מנת להירשם</span>
                    </div>
                    <md-radio-group formControlName="gender">
                        <md-radio-button value="male">Mr.</md-radio-button>
                        <md-radio-button value="female">Mrs.</md-radio-button>
                    </md-radio-group>
                    <input mdInput placeholder="Phone number" formControlName="phoneNumber"/>
                    <div class="errorMessage">
                        <span [hidden]="registerForm.controls['phoneNumber'].valid || registerForm.controls['phoneNumber'].pristine" >מספר הטלפון אינו חוקי</span>
                    </div>
                    <input mdInput type="date" placeholder="DOB" formControlName="birthday"/>
                    <div class="errorMessage">
                        <span [hidden]="registerForm.controls['birthday'].valid || registerForm.controls['birthday'].pristine" >שדה זה הינו חובה על מנת להירשם</span>
                    </div>
                    <input mdInput type="email" placeholder="Email" formControlName="email"/>
                    <div class="errorMessage">
                        <span [hidden]="registerForm.controls['email'].valid || registerForm.controls['email'].pristine" >כתובת המייל אינה חוקית</span>
                    </div>
                    <input mdInput type="password" placeholder="Password" formControlName="password"/>
                    <div class="errorMessage">
                        <span [hidden]="registerForm.controls['password'].valid || registerForm.controls['password'].pristine" >הסיסמה צריכה להיות לפחות 6 אותיות ומספרים</span>
                    </div>

                    <md-card-actions layout="row" layout-align="center center">
                        <button md-raised-button (click)="register()" color="primary">Register</button>
                        <button md-button (click)="cancel()" color="primary">Back</button>
                    </md-card-actions>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>

